.ec-bottom-btn:hover {
    background-color: #A8A8A8;
}


@media screen and (max-width: 768px) {
    .error-container {
        width: 90%;
        max-height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 3px;
        overflow-y: auto;
    }



    .ec-top {
        width: 100%;
        display: flex;
    }

    .ec-title {
        text-align: center;
        padding-top: 10px;
        width: 80%;
    }

    .ec-title h3 {
        font-size: 7vw;
        vertical-align: middle;
    }



    .ec-closer {
        width: 20%;
        display: flex;
        margin: 3px;
    }

    .ec-close-container-btn {
        background-color: white;
        border: none;
        border-radius: 5px;
        font-size: 5vw;
        flex: 1;
    }

    .ec-close-container-btn:hover {
        background-color: #A8A8A8;
    }



    .ec-middle {
        padding: 0 10px;
    }

    .ec-middle p  {
        font-size: 4vw;
        margin-bottom: 0;
    }



    .ec-bottom {
        text-align: right;
        padding: 5px;
    }

    .ec-bottom-container {
        margin: 5px;
    }


    .ec-bottom-btn {
        background-color: white;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 4vw;
        word-wrap: break-word;
    }



    .bullet-point-span {
        font-size: 5vw;
    }
}



@media screen and (max-width: 279px) {
    .ec-bottom-container {
        display: flex;
        flex-direction: column;
    }

    .ec-bottom-btn {
        flex: 1;
    }
}



@media (mIN-width: 769px) {
    .error-container {
        width: 700px;
        max-height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 3px;
        overflow-y: auto;
    }



    .ec-top {
        width: 100%;
        display: flex;
    }

    .ec-title {
        text-align: center;
        padding-top: 10px;
        width: 80%;
    }

    .ec-title h3 {
        font-size: 49px;
        vertical-align: middle;
    }



    .ec-closer {
        width: 20%;
        display: flex;
        margin: 3px;
    }

    .ec-close-container-btn {
        background-color: white;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        flex: 1;
    }

    .ec-close-container-btn:hover {
        background-color: #A8A8A8;
    }



    .ec-middle {
        padding: 0 10px;
    }

    .ec-middle p  {
        font-size: 25px;
        margin-bottom: 0;
    }



    .ec-bottom {
        text-align: right;
        padding: 5px;
    }

    .ec-bottom-container {
        margin: 5px;
    }


    .ec-bottom-btn {
        background-color: white;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 25px;
        word-wrap: break-word;
    }



    .bullet-point-span {
        font-size: 38px;
    }
}
