.forgot-password-container {
    height: 100vh;
    background-color: #FFF4E8;
    position: relative;
}

.fp-form {
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    width: 100%;
}

#fp-email-input:focus {
    outline-color: orange;
}


.fp-btn {
    margin-bottom: 10px;
    background-color: orange;
    color: white;
    font-size: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.fp-btn:hover {
    background-color: #FF8C00;
}



#fp-error-msg {
    color: red;
    margin-bottom: 0px;
    visibility: hidden;
}



@media screen and (max-width: 576px) {
    .fp-form {
        width: 80%;
    }


    .fp-title-container h2 {
        font-size: 7vw;
        margin-bottom: 30px;
    }


    .fp-body {
        margin-bottom: 10px;
    }

    .fp-body label {
        margin-bottom: 0px;
        width: 100%;
        font-size: 4vw;
    }

    #fp-email-input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 3vw;
    }



    .fp-btn {
        font-size: 3vw;
    }


    #fp-error-msg {
        font-size: 3vw;
    }
}




@media (min-width: 577px) {
    .fp-form {
        width: 400px;
    }


    .fp-title-container h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }


    .fp-body {
        margin-bottom: 10px;
    }

    .fp-body label {
        margin-bottom: 0px;
        width: 100%;
        font-size: 18px;
    }

    #fp-email-input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 15px;
    }



    .fp-btn {
        font-size: 18px;
    }


    #fp-error-msg {
        font-size: 15px;
    }
}
