.psr-body button {
    margin-bottom: 10px;
    background-color: orange;
    color: white;
    font-size: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.psr-body button:hover {
    background-color: #FF8C00;
}



@media screen and (max-width: 576px) {
    .psr-title-container h2 {
        font-size: 7vw;
        margin-bottom: 30px;
    }



    .psr-body {
        margin-bottom: 10px;
    }

    .psr-body p {
        font-size: 4vw;
        margin-bottom: 10px;
        word-wrap: break-word;
    }


    .psr-body button {
        font-size: 3vw;
    }
}



@media (min-width: 577px) {
    .psr-title-container h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }



    .psr-body {
        margin-bottom: 10px;
    }

    .psr-body p {
        font-size: 18px;
        margin-bottom: 10px;
        word-wrap: break-word;
    }



    .psr-body button {
        font-size: 18px;
    }
}
