@media screen and (max-width: 576px) {
    #profile-header {
        background-color: #F2F2F2;
        padding-left: 5px;
        margin: 0;
        font-size: 7vw;
    }



    .user-info-container {
        width: 80%;
        margin: auto;
        margin-top: 25px;
    }


    .user-info-top {
        background-color: #F2F2F2;
        padding: 5px;
        border-radius: 10px;
    }

    #avatar-div {
        margin: auto;
        width: 20%;
        height: 20%;
    }

    #avatar-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }


    #username-and-userid {
        text-align: center;
        margin: 5px;
    }

    #username-and-userid h4 {
        font-size: 5vw;
        word-wrap: break-word;
    }

    #username-and-userid p {
        font-size: 5vw;
        word-wrap: break-word;
    }


    #change-avatar-container {
        text-align: center;
    }

    #change-avatar-btn {
        font-size: 5vw;
        background-color: white;
        word-wrap: break-word;
        padding: 2px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    #change-avatar-btn:hover {
        background-color: #A8A8A8;
    }



    .user-info-bottom {
        margin-top: 25px;
    }

    #password-change-container {
        padding-top: 30px;
    }



    #line-separator {
        width: 80%;
        margin: auto;
    }



    #delete-account-container {
        width: 80%;
        margin: auto;
        background-color: #F2F2F2;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 30px;
    }

    #delete-account-container h3 {
        font-size: 6vw;
        word-wrap: break-word;
    }

    #delete-account-container p {
        font-size: 3vw;
        word-wrap: break-word;
    }

    #delete-account-container button {
        background-color: white;
        width: 100%;

        font-size: 5vw;
        word-wrap: break-word;
        border-radius: 5px;
        border: none;
    }

    #delete-account-container button:hover {
        background-color: #A8A8A8;
    }
}



@media (min-width: 577px) and (max-width: 768px) {
    #profile-header {
        display: none;
    }



    .user-info-container {
        width: 80%;
        margin: auto;
        margin-top: 25px;
    }


    .user-info-top {
        background-color: #F2F2F2;
        padding: 5px;
        border-radius: 10px;
    }

    #avatar-div {
        margin: auto;
        width: 100px;
        height: 100px;
    }

    #avatar-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }


    #username-and-userid {
        text-align: center;
        margin: 5px;
    }

    #username-and-userid h4 {
        font-size: 40px;
        word-wrap: break-word;
    }

    #username-and-userid p {
        font-size: 25px;
        word-wrap: break-word;
    }


    #change-avatar-container {
        text-align: center;
    }

    #change-avatar-btn {
        font-size: 25px;
        background-color: white;
        word-wrap: break-word;
        padding: 2px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    #change-avatar-btn:hover {
        background-color: #A8A8A8;
    }



    .user-info-bottom {
        margin-top: 25px;
    }

    #password-change-container {
        padding-top: 25px;
    }


    #line-separator {
        width: 80%;
        margin: auto;
    }



    #delete-account-container {
        width: 80%;
        margin: auto;
        background-color: #F2F2F2;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 30px;
    }

    #delete-account-container h3 {
        font-size: 30px;
        word-wrap: break-word;
    }

    #delete-account-container p {
        font-size: 25px;
        word-wrap: break-word;
    }

    #delete-account-container button {
        background-color: white;
        width: 100%;
        font-size: 25px;
        word-wrap: break-word;
        border-radius: 5px;
        border: none;
    }

    #delete-account-container button:hover {
        background-color: #A8A8A8;
    }
}



@media (min-width: 769px) {
    #profile-header {
        display: none;
    }



    .user-info-container {
        width: 500px;
        margin: auto;
        margin-top: 30px;
    }


    .user-info-top {
        background-color: #F2F2F2;
        padding: 5px;
        border-radius: 10px;
    }

    #avatar-div {
        margin: auto;
        width: 100px;
        height: 100px;
    }

    #avatar-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }


    #username-and-userid {
        text-align: center;
        margin: 5px;
    }

    #username-and-userid h4 {
        font-size: 40px;
        word-wrap: break-word;
    }

    #username-and-userid p {
        font-size: 25px;
        word-wrap: break-word;
    }


    #change-avatar-container {
        text-align: center;
    }

    #change-avatar-btn {
        font-size: 25px;
        background-color: white;
        word-wrap: break-word;
        padding: 2px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    #change-avatar-btn:hover {
        background-color: #A8A8A8;
    }



    .user-info-bottom {
        margin-top: 25px;
    }

    #password-change-container {
        padding-top: 25px;
    }


    #line-separator {
        width: 700px;
        margin: auto;
    }



    #delete-account-container {
        width: 500px;
        margin: auto;
        background-color: #F2F2F2;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 30px;
    }

    #delete-account-container h3 {
        font-size: 30px;
        word-wrap: break-word;
    }

    #delete-account-container p {
        font-size: 25px;
        word-wrap: break-word;
    }

    #delete-account-container button {
        background-color: white;
        width: 100%;
        font-size: 25px;
        word-wrap: break-word;
        border-radius: 5px;
        border: none;
    }

    #delete-account-container button:hover {
        background-color: #A8A8A8;
    }
}
