.reset-password-container {
    height: 100vh;
    background-color: #FFF4E8;
    position: relative;
}

.rp-form {
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.rp-input:focus {
    outline-color: orange;
}



.rp-btn {
    margin-bottom: 10px;
    background-color: orange;
    color: white;
    font-size: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.rp-btn:hover {
    background-color: #FF8C00;
}



#rp-error-message {
    color: red;
    margin-bottom: 0px;
    visibility: hidden;
}



.resend-rp-code-btn {
    border: none;
    padding: 0px;
    background-color: white;
    margin-top: 10px;
}

.resend-rp-code-btn:hover {
    color: blue;
}

#code-sent-div {
    color: green;
    visibility: hidden;
    margin-bottom: 20px;
}



@media screen and (max-width: 576px) {
    .rp-form {
        width: 80%;
    }

    .rp-title-container h2 {
        font-size: 7vw;
        margin-bottom: 30px;
    }


    .rp-body {
        margin-bottom: 10px;
    }

    .rp-body p {
        font-size: 4vw;
        margin-bottom: 10px;
        word-wrap: break-word;
    }

    .rp-input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 3vw;
    }


    .rp-btn {
        font-size: 3vw;
    }


    #rp-error-message {
        font-size: 3vw;
    }



    .resend-rp-code-btn {
        font-size: 3vw;
    }

    #code-sent-div {
        font-size: 3vw;
    }
}



@media (min-width: 577px) {
    .rp-form {
        width: 400px;
    }


    .rp-title-container h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }


    .rp-body {
        margin-bottom: 10px;
    }

    .rp-body p {
        font-size: 18px;
        margin-bottom: 10px;
        word-wrap: break-word;
    }

    #rp-code-input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 15px;
    }


    .rp-btn {
        font-size: 18px;
    }


    #rp-error-message {
        font-size: 15px;
    }



    .resend-rp-code-btn {
        font-size: 15px;
    }

    #code-sent-div {
        font-size: 15px;
    }
}
