.set-new-password-container {
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



input {
    width: 100%;
}

.snp-input:focus {
    outline-color: orange;
}



.snp-btn {
    margin-bottom: 10px;
    background-color: orange;
    color: white;
    font-size: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.snp-btn:hover {
    background-color: #FF8C00;
}



#snp-error-message-1 {
    color: red;
    margin-bottom: 0px;
    visibility: hidden;
}


#snp-error-message-2 {
    color: red;
    margin-bottom: 20px;
    visibility: hidden;
}



@media screen and (max-width: 576px) {
    .snp-new-password-form {
        width: 80%;
    }


    .snp-title-container h2 {
        font-size: 7vw;
        margin-bottom: 30px;
    }


    .snp-body {
        margin-bottom: 10px;
    }

    .snp-body label {
        margin-bottom: 0px;
        width: 100%;
        font-size: 4vw;
    }

    .snp-input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 3vw;
    }


    .snp-btn {
        font-size: 3vw;
    }


    .snp-error-message {
        font-size: 3vw;
    }
}



@media (min-width: 577px) {
    .snp-new-password-form {
        width: 400px;
    }


    .snp-title-container h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }


    .snp-body {
        margin-bottom: 10px;
    }

    .snp-body label {
        margin-bottom: 0px;
        width: 100%;
        font-size: 18px;
    }

    .snp-input {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 15px;
    }


    .snp-btn {
        font-size: 18px;
    }


    .snp-error-message {
        font-size: 15px;
    }
}
